{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Univercity Website design</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
        <!-- Fontawesome 4 Cdn from BootstrapCDN -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="{% static 'images/logo.png' %}"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hidemenu()"></i>
                <ul>
                    <li><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/about/">About</a></li>
                    <li><a href="http://127.0.0.1:8000/course/">Course</a></li>
                    <li><a href="http://127.0.0.1:8000/blog/">Blog</a></li>
                    <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showmenu()"></i>
        </nav>

        <div class="text-box">
            <h1>World'S Biggest University</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eius illum voluptatem, non </p>
            <a href="http://127.0.0.1:8000/course/" class="text-btn">Visit Us To Khow More</a>

        </div>

    </section>
<!-------------course section--------------->
<section class="course">
    <h1>Course We Provided</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis dignissimos aperiam fuga</p>
    <div class="row">
        <div class="course-col">
            <h3>Intermidate</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
            . Fugit temporibus ipsam omnis nulla facere maiores assumenda 
            quod pariatur iste, recusandae ducimus </p>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
            . Fugit temporibus ipsam omnis nulla facere maiores assumenda 
            quod pariatur iste, recusandae ducimus </p>
        </div>
        <div class="course-col">
            <h3>Post Graduation</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
            . Fugit temporibus ipsam omnis nulla facere maiores assumenda 
            quod pariatur iste, recusandae ducimus </p>
        </div>
    </div>
</section>
<!--campus -->
<section class="campus">
    <h1>Our Global Campus</h1>
    <p><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
        . Fugit temporibus ipsam omnis nulla facere</p>
    <div class="row">
        <div class="campus-col">
            <img src="{% static 'images/london.png' %}">
            <div class="layer">
                <h3>London</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="{% static 'images/newyork.png' %}">
            <div class="layer">
                <h3>NewYork</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="{% static 'images/washington.png' %}">
            <div class="layer">
                <h3>washington</h3>
            </div>
        </div> 
    </div>

</section>
<section class="facility">
    <h1>Our Facility</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam asperiores obcaecati ipsam architecto, sint veritatis </p>
    <div class="row">
        <div class="facility-col">
            <img src="{% static 'images/library.png' %}">
            <h3>Librarery</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, porro, iure nemo aliquid </p>
        </div>
    
        <div class="facility-col">
            <img src="{% static 'images/basketball.png' %}">
            <h3>Largest Playground</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, porro, iure nemo aliquid </p>
        </div>
        <div class="facility-col">
            <img src="{% static 'images/cafeteria.png' %}">
            <h3>Teasty And Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, porro, iure nemo aliquid </p>
        </div>
    </div>
</section>

<section class="testimonials">
    <h1>what our studensts says</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam asperiores obcaecati ipsam architecto, sint veritatis </p>
    <div class="row">
        <div class="testimonials-col">
            <img src="{% static 'images/user1.jpg' %}">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Expedita ratione magnam incidunt, dolores sit ex assumenda. 
                    Deleniti omnis facilis ipsum reiciendis expedita quam, saepe dolorum, 
                    temporibus blanditiis harum similique nulla.</p>
                <h3>Shruti Makwana</h3> 
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                </div>
        </div>
        <div class="testimonials-col">
            <img src="{% static 'images/user2.jpg' %}">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Expedita ratione magnam incidunt, dolores sit ex assumenda. 
                    Deleniti omnis facilis ipsum reiciendis expedita quam, saepe dolorum, 
                    temporibus blanditiis harum similique nulla.</p>
                <h3>Pritesh Bhatiya</h3> 
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </div>
        </div>
    </div>

</section>


<section class="cta">
    <h1>Join Our Online Course For Free</h1>
    <a href="http://127.0.0.1:8000/contact/" class="text-btn">Contact-Us</a>
</section>

<section class="footer">
    <h1>About-Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eos ab repellendus ex dolor possimus repellat eligendi iusto 
        aspernatur, quam maxime repudiandae! Voluptate nobis eligendi 
        raesentium illum vel maxime sequi?</p>
        <div class="icon">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            
        </div>
</section>








<!----------------java script toogle bar ------>
    <script>
        var nav=document.getElementById("navlinks");
        function showmenu()
        {
                nav.style.right="0";
        }
        function hidemenu()
        {
            nav.style.right="-200px";
        }
    </script>


</body>

</html>